html, body {
    height: 100%;
    margin: 0;
}

body {
    background-color: #1a1a1a;
    color: #e0e0e0;
    display: flex;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
}

#menu {
    background-color: #2b2b2b;
    border-right: 1px solid #333;
    flex: 0 0 20%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 20px 10px;
}

nav {
    background-color: #333;
    color: #e0e0e0;
    padding: 15px 20px;
    border-bottom: 1px solid #555;
    border-radius: 10px;
}

.content {
    padding: 20px;
    flex: 1;
    overflow-y: auto;
    background-color: #1e1e1e;
}

.nav-link {
    color: #e0e0e0;
    padding: 10px;
    text-align: center;
}

.nav-link:hover {
    background-color: #444;
    color: #fff;
}

.config-item {
    margin-bottom: 2rem;
    padding: 20px;
    background-color: #292929;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.config-item h3 {
    font-size: 1.5rem;
    border-bottom: 2px solid #427473;
    padding-bottom: 10px;
    margin-bottom: 1rem;
}

.config-item p {
    font-size: 1rem;
    line-height: 1.5;
}

.config-item h4 {
    font-size: 1.25rem;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
    color: #bd724e;
}

.input-group {
    width: 100%;
    max-width: 300px;
}

.input-group .form-control {
    border-radius: 0;
}

.input-group-append .btn {
    border-radius: 0;
}

.text-center {
    text-align: center;
}

.chart-container {
    width: 100%;
    height: 400px;
    margin: 20px auto;
    position: relative;
}

.chartjs-legend {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 10px 0 0;
}

.chartjs-legend li {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.chartjs-legend li span {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    background-color: red;
}

@media (max-width: 768px) {
    #menu {
        flex: 0 0 100%;
        height: auto;
        border-right: none;
    }

    .content {
        padding: 20px;
    }

    .config-item {
        padding: 15px;
    }

    .config-item h3 {
        font-size: 1.25rem;
    }

    .config-item h4 {
        font-size: 1.15rem;
    }
}
